* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #252423;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
body,
p,
span,
div {
  font-family: inherit;
  color: white;
}

.bg1_grey {
  background: #252423;
}

.bg2_grey {
  background: #3a454b;
}

.textColor1 {
  color: #ffca28;
}

.yellowText {
  color: #ffca28 !important;
  ;
}

.blueText {
  color: #2889ff !important;
  ;
}

.redText {
  color: #ff2828 !important;
  ;
}

.bgBtn1 {
  background: #302f2deb;
}

.bgBtn1:hover {
  background: #353433eb;
}

.hidden {
  display: none !important;
}

.BellotaFont {
  font-family: 'Bellota', cursive !important;
}

.RubikFont {
  font-family: 'Rubik Marker Hatch', cursive !important;
}

.cardYellowBordered {
  border: 2px solid #ffffff00;
  transition: 500ms;
}

.cardYellowBordered >*> .cardTitle {
  color: #ffffff00;
  transition: 500ms;
  background: #ffffff00;
  visibility: hidden;
}

.cardYellowBordered:hover {
  transition: 500ms;
  border: 2px solid #ffca28;
}

.cardYellowBordered:hover >*> .cardTitle {
  color: #ffffff;
  background: #1515158f;
  transition: 500ms;
  visibility: visible;
}