* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #252423;
  max-width: 100vw;
  overflow-x: hidden;
}

h3 {
  color: "white";
}

.bg1_grey {
  background: #252423;
}

.bg2_grey {
  background: #3a454b;
}

.textColor1 {
  color: #ffca28;
}

.RubikMarkerHatchFont {
  font-family: 'Rubik Marker Hatch', cursive;
}

.BelottaFont {
  font-family: 'Bellota', cursive;
}

.yellowText {
  color: #ffca28 !important;
  ;
}

.bgBtn1{
  background: #302f2deb;
}
.bgBtn1:hover{
  background: #353433eb;
}

.hidden{
  display: none !important;
}